@model IEnumerable<Semestrovka.Models.DBModels.Product>
@{
    ViewBag.Title = "Shop";
}

<body>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">
                                <img src="@item.MainpictureurlNavigation.Imagepath" alt="">
                            </a>
                        </div>
                        <h2>
                            <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">@item.Name</a>
                        </h2>
                        <div class="product-carousel-price">
                            <ins>@item.Price</ins>
                            @*<del>$999.00</del> Скидка на цену*@
                        </div>

                        <div class="product-option-shop">
                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                               rel="nofollow" asp-action="AddToCart" asp-controller="Products" asp-route-productId="@item.Id" asp-route-amount="1">
                                Add to cart
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*Раздел ссылок
        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        *@
    </div>
</div>
</body>